/* button {
    background-color: black;
    color: aqua;
} */

/* Redoy er kaj chilo */
/* .animation_class {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 2s; */
    /* animation-iteration-count: infinite; */
    /* animation-direction: alternate;
} */


/* @keyframes example {
    0%   {background-color:red; left:300px; top:200px;}
    50%   {background-color:red; left:450px; top:200px;}
    100% {background-color:red; left:600px; top:200px;}
  } */
  
  
/* Redoy er kaj shesh */

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.animation_class_1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    animation-name: example_1;
    /* top: 200px;
    left: 300px; */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes example_1 {
    0%   {background-color:red; top:200px; width: 20px; height: 20px;}
    100% {background-color:red; top:200px; width: 10px; height: 10px;}
}
.animation_class_2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    animation-name: example_2;
    top: 200px;
    /* left: 450px; */
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes example_2 {
    0%   {background-color:red; top:200px; width: 20px; height: 20px;}
    100% {background-color:red; top:200px;width: 10px; height: 10px;}
}
.animation_class_3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    position: relative;
    animation-name: example_3;
    /* top: 200px;
    left: 600px; */
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes example_3 {
    0%   {background-color:red; top:200px; width: 20px; height: 20px;}
    100% {background-color:red; top:200px; width: 10px; height: 10px;}
}










.btn-save {
    background-color: green;
    color: aqua;
}
.btn-submit {
    background-color: black;
    color: aqua;
}

#cancel-btn {
    background-color: red;
    color: black;
}

img {
    opacity: 50%;
}

/* .bg-img-section {
    background-image: url('../asif-l.png');

} */
/* body {
    background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url('../asif-l.png');
    opacity: 0.75;
    position: relative; 
    background-size: cover;
} */


.navbar { grid-area: navbar; position: sticky; top: 0; padding: 5px; width: 98.45%;}
.body-section { grid-area: body-section;}
.main-menu { grid-area: main-menu; }
.main-body { grid-area: main-body; }
.right-menu { grid-area: right-menu; }
.footer { grid-area: footer; padding: 0px; }

.grid-container  {
    display: grid;
    grid-template-areas:
      'navbar navbar navbar navbar navbar navbar'
      'body-section body-section body-section body-section body-section body-section';
    /* gap: 10px; */
    background-color: #ffffff;
    /* padding: 10px; */
  }


/* .grid-container  > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  } */



.body-section {
    display: grid;
    grid-template-areas:
      'main-menu main-body main-body main-body main-body right-menu'
      'main-menu footer footer footer footer footer';
    gap: 5px;
    background-color: rgb(121, 152, 200);
    /* padding: 65px 7px 10px 7px; */
    padding: 0px;
  }


.body-section > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: left;
    padding: 20px 0;
    font-size: 14px;
  }
  
.asidebar ul {
    list-style-type: none;
    overflow: hidden;
    background-color: (255, 255, 255, 0.8);
}

.asidebar li a {
    display: block;
    color: black;
    text-align: left;
    padding: 14px 0px;
    text-decoration: none;
}

.asidebar li a:hover {
    background-color: #111;
    color: white;
}

a {
    display: block;
    color: black;
    text-align: left;
    padding: 2px 2px;
    text-decoration: none;
}

a:hover {
    background-color: #111;
    color: white;
}




nav ul {
    list-style-type: none;
    margin: 0;
    /* padding: 10px; */
    overflow: hidden;
    background-color: #5f5959;
}

.nav-left {
    float: left;
}

.nav-right {
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #111;
}

table {
    width: 100%;
}

.transition {
    width: 200px;
    height: 100px;
    background: white;
    transition: width 2s;
}

.transition:hover{
    height: 300px;
}